* {
  margin: 0;
  padding: 0;
}
.nav-bar-background {
  position: fixed;
  top: 0%;
  height: 6rem;
  width: 100%;
  background-color: #ddbea9;
  position: fixed;
  top: 0;
  z-index: 1;
}
.nav-bar {
  width: 80%;
  margin: auto;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0%;
  left: 10%;
  z-index: 2;
}
.nav-bar img {
  height: 6rem;
  cursor: pointer;
}

.nav-bar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-family: "Lexend";
  color: #4c4f42;
  font-size: large;
  text-transform: uppercase;
}
.nav-bar-menu li {
  margin: 2rem 3rem 0.5rem 0;
  display: flex;
  cursor: pointer;
  text-align: center;
  align-items: center;
  background-image: url("./pink-paint-brush-stroke.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0.5rem;
  width: 11rem;
  justify-content: center;
}
.nav-bar-menu li:last-child {
  margin-right: 0;
}

.nav-bar-menu li:hover {
  color: #6b705c;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}
@media screen and (max-width: 768px) {
  .nav-bar-background {
    height: 8rem;
    flex-wrap: nowrap;
  }
  .nav-bar {
    width: 90%;
    left: 5%;
    flex-wrap: nowrap;
    align-items: center;
  }
  .nav-bar-menu {
    flex-direction: column;
    margin: 0;
  }
  .nav-bar-menu li {
    margin-right: 0;
    margin-bottom: 0.2rem;
  }
}
.main-section_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 80%;
  margin: auto;
}

.main-section_wrapper-about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 6rem 0 5rem 0;
  row-gap: 2rem;
}

.main-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: transparent;
  column-gap: 3rem;
}

.main-section_heading h1 {
  padding-top: 5%;
  background-color: transparent;
  font-family: "Bodoni Moda";
  font-weight: bold;
  font-style: italic;
  font-size: calc(3rem + 0.390625vw);
  line-height: 60px;
  color: #4c4f42;
  padding-bottom: 3%;
}

.main-section_heading p {
  padding-top: 2%;
  font-family: "Lexend";
  font-size: calc(1rem + 0.390625vw);
  line-height: 2rem;
  color: #6b705c;
  text-align: justify;
}

.main-section_choose-season {
  padding-top: calc(2rem + 3vh);
  white-space: nowrap;
}
.main-section_choose-season_arrow {
  padding-left: 5%;
  color: #4c4f42;
}

.main-section_heading h3 {
  padding-top: 5%;
  font-family: "Bodoni Moda";
  font-style: italic;
  font-size: calc(2rem + 0.390625vw);
  line-height: 45px;
  color: #4c4f42;
  display: inline;
}

.main-section_choose-season_phone {
  padding-top: calc(2rem + 3vh);
  white-space: nowrap;
}
.main-section_choose-season_arrow_phone {
  padding-left: 5%;
  color: #4c4f42;
}

.main-section_choose-season_phone h3 {
  padding-top: 5%;
  font-family: "Bodoni Moda";
  font-style: italic;
  font-size: calc(2rem + 0.390625vw);
  line-height: 45px;
  color: #4c4f42;
  display: inline;
}

.main-section_heading_anchor-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 35px;
  column-gap: calc(1px + 2vw);
  flex-wrap: wrap;
  row-gap: 10px;
}
.main-section_heading_anchor-wrapper button {
  text-decoration: none;
  font-family: "Lexend";
  font-weight: 700;
  font-size: calc(1rem + 0.390625vw);
  line-height: 45px;
  color: #6b705c;
  text-align: center;
  cursor: pointer;
  border: none;
  background: none;
  background-image: url("./pink-paint-brush-stroke.png");
  background-size: cover;
  width: 220px;
  height: 60px;
}

.main-section_heading_anchor-wrapper button:hover {
  color: #393d2c;
}
.main-section_heading_anchor-wrapper_phone {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 35px;
  column-gap: calc(1px + 2vw);
  flex-wrap: wrap;
  row-gap: 10px;
}
.main-section_heading_anchor-wrapper_phone button {
  text-decoration: none;
  font-family: "Lexend";
  font-weight: 700;
  font-size: calc(1rem + 0.390625vw);
  line-height: 45px;
  color: #6b705c;
  text-align: center;
  cursor: pointer;
  border: none;
  background: none;
  background-image: url("./pink-paint-brush-stroke.png");
  background-size: cover;
  width: 220px;
  height: 60px;
}

.main-section_heading_anchor-wrapper_phone button:hover {
  color: #393d2c;
}

.main-section_photo img {
  border-radius: 45%;
  object-fit: contain;
  height: calc(500px + 5vh);
}

.parallax {
  /* The image used */
  background-image: url("./watercolor-background.jpg");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 15%;
  width: 80%;
  background-color: transparent;
  margin: auto;
  padding-bottom: 2rem;
  row-gap: 2rem;
}

.social-icons-section {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  width: 8rem;
}

.social-icons-section p {
  font-family: "Lexend";
  font-size: 1rem;
  color: #6b705c;
  padding: 0 5px;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  height: 40px;
  align-items: center;
  column-gap: 1rem;
  padding: 2px 5px 0 5px;
}

.social-icons i {
  color: #cb997e;
  cursor: pointer;
}

.subscribe-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  min-width: 350px;
  min-height: 135px;
  background-color: #ddbea9;
  border-radius: 90px;
  row-gap: 10px;
}

.subscribe-section h5 {
  font-family: "Bodoni Moda";
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  color: #4c4f42;
  padding: 0 10px;
  text-align: center;
}

.subscribe-button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 20%;
  background-color: white;
  border-radius: 90px;
}

.subscribe-button-wrapper input {
  border: none;
  margin-left: 10px;
  width: 50%;
  font-family: "Lexend";
  font-style: italic;
  font-size: 1rem;
  color: #6b705c;
}
.subscribe-button-wrapper button {
  border: none;
  margin-right: 5px;
  background-color: #ffe8d6;
  font-family: "Lexend";
  font-size: 1rem;
  color: #6b705c;
  border-radius: 90px;
  padding: 0 5px;
  cursor: pointer;
}

#spring-pics,
#summer-pics,
#autumn-pics,
#winter-pics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 2rem 6rem 6rem 6rem;
}
#spring-pics img,
#summer-pics img,
#autumn-pics img,
#winter-pics img {
  height: 360px;
  width: 270px;
  object-fit: cover;
  border-radius: 50px;
}
.season-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 360px;
  width: 270px;
  font-family: "Lexend";
  font-size: 5vh;

  border-radius: 50px;
}
#summer-pics .season-text {
  background-color: #cb997e;
  color: #4c4f42;
}
#spring-pics .season-text {
  background-color: #6b705c;
  color: #ddbea9;
}
#autumn-pics .season-text {
  background-color: #ffe8d6;
  color: #6b705c;
}
#winter-pics .season-text {
  background-color: #a5a58d;
  color: #6b705c;
}

@media screen and (max-width: 1300px) {
  .main-section_wrapper {
    padding-top: 3rem;
  }
}

@media screen and (max-width: 1250px) {
  .main-section_wrapper {
    padding-top: 7rem;
  }
  .main-section_heading_anchor-wrapper {
    column-gap: 2%;
  }
}

@media screen and (max-width: 899px) {
  .main-section {
    flex-direction: column;
    align-items: center;
  }
  .main-section_heading h1,
  .main-section_heading p {
    text-align: center;
  }
  .main-section_choose-season {
    display: none;
  }
  .main-section_heading_anchor-wrapper {
    display: none;
  }
  .main-section_photo {
    padding-top: 2%;
  }
}

@media screen and (min-width: 900px) {
  .main-section_choose-season_phone {
    display: none;
  }
  .main-section_heading_anchor-wrapper_phone {
    display: none;
  }
}

@media screen and (max-width: 360px) {
  .main-section_photo img {
    height: 300px;
  }

  .main-section_heading h1 {
    font-size: 35px;
  }

  .main-section_choose-season_phone h3 {
    font-size: 30px;
  }

  .subscribe-section {
    min-width: 200px;
  }

  .subscribe-section h5 {
    font-size: 15px;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  .social-icons-section {
    align-items: center;
    width: 80%;
  }

  .social-icons-section p {
    text-align: center;
  }
}

@media screen and (max-width: 1120px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .social-icons-section {
    align-items: center;
    width: 80%;
  }

  .social-icons-section p {
    text-align: center;
  }
}

@media screen and (max-width: 910px) {
  .clothes-pic {
    display: none;
  }
}

@media screen and (min-width: 910px) {
  .clothes-pic_phone {
    display: none;
  }
}
