* {
  margin: 0;
  padding: 0;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 6rem;
  width: 100%;
  background-color: #ddbea9;
  display: flex;

  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}
.nav-bar img {
  height: 6rem;
  padding: 0 0 0 2.5rem;
}
.nav-bar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-family: "Lexend";
  color: #4c4f42;
  font-size: large;
  text-transform: uppercase;
}
.nav-bar-menu li {
  margin: 2.5rem 6rem 0 0;
}
.nav-bar-menu li:hover {
  color: #6b705c;
  cursor: pointer;
}

.main-section {
  display: flex;
  width: 80%;
  /* I set width 100%, not 100vw, because:
    100vw causes horizontal overflow, because of the vertical scrollbar which up some of that space. 
    However percentages don’t include the width of the scrollbar, so it will automatically fit.  */
  height: 85%;
  background-color: transparent;
  padding: 5% 10%;
  column-gap: 5%;
}

.main-section_heading h1 {
  /* I increased the top padding from 5% to 15% so that the navigation bar doesn't cover it */
  padding-top: 15%;
  background-color: transparent;
  font-family: "Bodoni Moda";
  font-weight: bold;
  font-style: italic;
  font-size: 60px;
  line-height: 70px;
  color: #4c4f42;
}
.main-section_heading p {
  padding-top: 5%;
  font-family: "Lexend";
  font-size: 20px;
  line-height: 45px;
  color: #6b705c;
}

.main-section_choose-season {
  padding-top: 3%;
}
.main-section_choose-season_arrow {
  padding-left: 5%;
  color: #4c4f42;
}
.main-section_heading h3 {
  padding-top: 5%;
  font-family: "Bodoni Moda";
  font-style: italic;
  font-size: 30px;
  line-height: 45px;
  color: #4c4f42;
  display: inline;
}

.main-section_heading_anchor-wrapper {
  display: flex;
  margin-top: 35px;
  column-gap: 30px;
  flex-wrap: wrap;
  row-gap: 10px;
}
.main-section_heading_anchor-wrapper button {
  text-decoration: none;
  font-family: "Lexend";
  font-weight: 700;
  font-size: 20px;
  line-height: 45px;
  color: #6b705c;
  text-align: center;
  cursor: pointer;
  border: none;
  background: none;
  background-image: url("/Project-No-1_Fashion-Lookbook/pink-paint-brush-stroke-lighter.png");
  background-size: cover;
  width: 250px;
  height: 60px;
}

.main-section_photo img {
  border-radius: 45%;
  height: 70%;
  /* I added the top padding 40% so that the navigation bar doesn't cover the picture */

  padding-top: 40%;
}

.parallax {
  /* The image used */
  background-image: url("v546batch3-mynt-32-badgewatercolor.jpg");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* fashion pics styling */

#spring-pics,
#summer-pics,
#autumn-pics,
#winter-pics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 6rem;
}
#spring-pics img,
#summer-pics img,
#autumn-pics img,
#winter-pics img {
  height: 400px;
  width: 300px;
  object-fit: cover;
  border-radius: 50px;
}
.season-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 300px;
  font-family: "Lexend";
  font-size: 5vh;

  border-radius: 50px;
}
#summer-pics .season-text {
  background-color: #cb997e;
  color: #4c4f42;
}
#spring-pics .season-text {
  background-color: #6b705c;
  color: #ddbea9;
}
#autumn-pics .season-text {
  background-color: #ffe8d6;
  color: #6b705c;
}
#winter-pics .season-text {
  background-color: #a5a58d;
  color: #6b705c;
}
a {
  text-decoration: none;
  color: inherit;
}
